* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'iconfont';
    src:
        url('./iconfont.woff2?t=1669298460760') format('woff2'),
        url('./iconfont.woff?t=1669298460760') format('woff'),
        url('./iconfont.ttf?t=1669298460760') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.background {
    position: relative;
    width: 600px;
    height: 1060px;
    background-image: url(https://typora-iamge.oss-cn-beijing.aliyuncs.com/background.png);
    margin: auto;
}
header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 32px;
    left: 21px;
    width: 560px;
    height: 50px;
}
.header_back {
    position: relative;
    width: 42px;
    height: 42px;
    border: 4px #88c2cb solid;
    border-radius: 25px;
}
.header_back_part1 {
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 17px;
}
.header_back_part2 {
    position: absolute;
    top: 14px;
    left: 11px;
    font-size: 20px;
}
.header_words {
    width: 109px;
    height: 50px;
    font-size: 23px;
    color: #d3e9ec;
    line-height: 50px;
}
.header_info {
    font-size: 48px;
    color: rgba(255,255 ,255 , 0.9);
}
main {
    position: absolute;
    top: 170px;
    left: 83px;
    width: 443px;
    height: 542px;
}
.main_photo {
    position: relative;
    width: 146px;
    height: 146px;
    border: #9abfcf solid 2px;
    border-radius: 76px;
    background-color: rgba(255,255 ,255 , 0.1);
    margin: 0 auto;
}
.photo_plus {
    position: absolute;
    top: 35px;
    left: 47px;
    font-size: 50px;
}
.photo_words {
    position: absolute;
    top: 83px;
    left: 37px;
    font-size: 25px;
    color: #c3d7e2;
}
form {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}
.input_first {
    border-bottom: #8397bd solid 1px ;
}
.input_last {
    border-bottom: #8397bd solid 1px;
    border-top: #8397bd solid 1px;
}
.input_email {
    border-bottom: #8397bd solid 1px;
        border-top: #8397bd solid 1px;
}
.input_password {
    border-top: #8397bd solid 1px;
}
.input_button {
    position: absolute;
    top: 293px;
    left: 386px;
    font-size: 23px;
    color: #49ffb4;
    border: none;
    background: none;
}
.input {
    display: flex;
    justify-content: space-between;
}
input {
    width: 282px;
    height: 83px;
    border: none;
    background: none;
    outline: none;
    font-size: 30px;
    color: white;
}
label {
    width: 162px;
    height: 84px;
    font-size: 23px;
    line-height: 84px;
    color: white;
}
footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 690px;
    left: 83px;
    display: flex;
    width: 443px;
    height: 204px;
    
}
.footer_button {
    width: 443px;
    height: 77px;
    font-size: 40px;
    color: #716c9d;
    border: none;
    border-radius: 40px;
    background: #ffffff;
}
.footer_words {
    width: 284px;
    height: 22px;
}
.footer_words_member {
    display: inline-block;
    font-size: 23px;
    color: white;
}
.footer_signin {
    display: inline-block;
    font-size: 23px;
    color: #49ffb4;
    border: none;
    background: none;
}