* {
    margin: 0;
    padding: 0;
}
.main {
    position: relative;
    margin: 200px 400px;
}

img {
    vertical-align: bottom;
}

.main .iconfont:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.main .iconfont {
    position: absolute;
    top: 170px;
    left: 0;
    width: 50px;
    height: 70px;
    color: white;
    font-size: 40px;
    line-height: 70px;
    background-color: rgba(0, 0, 0, 0.3);
}
.main .icon-xiayiyeqianjinchakangengduo {
    left: 590px;
}